
/* Contacts */
.contacts {
	background-color: var(--page-bg);
	background-image: url("../img/noise-bg.png");
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;

	padding: 100px 150px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;

	position: relative;
	overflow: hidden;
}

@media (min-width: 768px) {
	.contacts::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 25%;
		background-color: var(--accent);
		background-image: url("../img/noise-bg.png");

	}
	.contacts__content {
		padding-top: 48px;
		padding-bottom: 48px;
		position: relative;
		z-index: 2;
	}
}

.contacts__title {
	font-weight: 700;
	font-size: 54px;
	line-height: 122.222222%;
	color: var(--text-color);
}

.contacts__title:not(:last-child) {
	margin-bottom: 20px;
}

.contacts__title span {
	color: var(--accent);
}

.contacts__text {
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.contacts__text:not(:last-child) {
	margin-bottom: 40px;
}

.contacts__form:not(:last-child) {
	margin-bottom: 60px;
}


/* Form */
.form {
	display: grid;
	gap: 20px;
}

.form__line {
	position: relative;
}

.form__input {
	width: 100%;
	height: 50px;
	border: 1px solid #c9c7c7;
	border-radius: 10px;
	padding: 0px 20px;
	font-size: 14px;
}

::placeholder {
	color: var(--text-color);
}

.form__button {
	background-color: var(--accent);
	padding: 15px 24px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	color: var(--black);
	font-weight: 700;
	text-transform: uppercase;
}

.form__button:hover {
    opacity: .8;
    transition: opacity .2s linear;
}

#form__msg {
	color: var(--accent);
	display: block;
}


/* Contacts Info */
.info-contacts {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.info-contacts__item {
	display: flex;
	align-items: flex-start;
	column-gap: 20px;
	row-gap: 10px;
}

.info-contacts__icon {
	font-size: 23px;
}

.info-contacts__body {
	flex: 1 0 auto;
	font-size: 13px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.info-contacts__title {
	font-weight: 600;
	text-transform: uppercase;
}

.info-contacts__title:not(:last-child) {
	margin-bottom: 3px;
}

.info-contacts__value {
	color: var(--text-color);
}

.contacts__map {
	position: relative;
	z-index: 2;
}

.contacts__map iframe {
	position: absolute;
	background-color: --green;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 4px
}

/* Media */
@media (max-width: 1470px) {
	.contacts {
		padding: 50px;
	}
}

@media (max-width: 991.98px) {
	.contacts {
		padding: 30px;
		border-radius: 30px 30px 0 0;
		gap: 20px;
	}

	.contacts__title {
		font-size: 44px;
	}

	.contacts__title:not(:last-child) {
		margin-bottom: 15px;
	}

	.contacts__text:not(:last-child) {
		margin-bottom: 20px;
	}
	
	.contacts__form:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media (max-width: 767.98px) {
	.contacts {
		padding: 30px;
		grid-template-columns: auto;
	}

	.contacts__title {
		font-size: 34px;
	}

	.contacts__map {
		padding-bottom: 120%;
	}

	.contacts__text:not(:last-child) {
		margin-bottom: 20px;
	}

	.contacts__form:not(:last-child) {
		margin-bottom: 20px;
	}
}
