@import "reset.css";
@import "skills.css";
@import "contacts.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black: #171718;
    --grey: #252526f5;
    --light-gray: #4f4f50f5;
    --green: #bcd884e7;
    --black-border: #26292D;
    --white: #fff; 

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--green);

    /* Light-mode */
    --page-bg: var(--white);
    --text-color: var(--grey);
    --secundary-text-color: var(--light-gray);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);

    --box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.4);
    
  }

  /* Dark-mode */
.dark {
    --page-bg: var(--grey);
    --text-color: var(--white);
    --secundary-text-color: var(--white);


    --project-card-bg: var(--black);
    --project-card-text: var(--white);
}

/* General */
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
    background-image: url("../img/noise-bg.png");

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
    transition: .1s linear;  /* when switch mode */
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;

}

.title-1 {
    margin-bottom: 50px;

    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
}

.title-1 span {
	color: var(--text-color);
}

.title-2 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--text-color);
}

.title-3 {
    margin-bottom: 50px;

    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
}

#TopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 15px;
    z-index: 999;
    font-size: 31px;
    border: none;
    outline: none;
    background-color: var(--grey);
    color: var(--accent);
    cursor: pointer;
    border-radius: 5px;
    transition: color .2s linear;
}
  
  #TopBtn:hover {
    color: white;
}

/* mobile adaptive */
.section--mobile {
    display: none;
}

#mobile-nav {
    display: none;
}

.desktop {
    visibility: block;
}

/* scroll-bar */
::-webkit-scrollbar-track {
    background-color: var(--dark-bg); 
}

::-webkit-scrollbar {
    max-width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--white); 
}

/* navbar */
.nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    letter-spacing: normal;

    color: var(--header-text);
    border-bottom: 1px solid var(--dark-border);
    background-image: url("../img/noise-bg.png");
    background-color: var(--dark-bg);
    z-index: 999;

}

.nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
}

.nav-row__logo {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Poppins', sans-serif; 
    line-height: 1;
    color: var(--header-text);
}

.nav-row__logo strong{
    font-weight: 700;

    color: var(--accent);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity .2 linear;
}

.nav-list__link:hover {
    opacity: .8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: var(--accent);
}

/* Dark-mode button */
.dark-mode-btn {
    position: relative;
    width: 51px;
    height: 26px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    order: 5;

    border-radius: 50px;
    background-color: #272727;
}

/* Dark-mode Button */
.dark-mode-btn:before{
    content: "";

    top: 1px;
    left: 1px;
    position:  absolute;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50px;
    background-color: var(--white);

    transition: left .2s linear;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 10;
}

.dark-mode-btn--active::before {
    left: 26px;
}

/* header */
.header {
    padding: 40px 0;
    min-height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;


    background-image: url("../img/noise-bg.png"), url("../img/header-bg.png");
    background-position: center;
    background-repeat: repeat, no-repeat;
    background-size: auto;
  

    background-color: var(--dark-bg);
    color: var(--header-text);
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 1.333; /* 24/18 */
    font-family: 'Courier Prime', monospace;

    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(34) infinite alternate, blink 800ms steps(34) infinite normal;
    border-right: 2px solid black;
}

.header__text p:nth-child(2){
    display: none;
}

.header__text em {
    font-style: normal;
    color: var(--accent);
}

.header__text p + p{
    margin-bottom: 0.5em;
}

/* Text Animation */
@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 83%;
    }
}

@keyframes blink {
    from {
        border-color: var(--green);
    }

    to {
        border-color: transparent;
    }
}

/* Button */
.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15px;

    color: var(--black);
    background-color: var(--accent);
    background-image: url("/img/noise-bg.png");
    transition: opacity .2s linear;
}

.btn:hover {
    opacity: .8;
}

.btn:active{
    position: relative;
    top: 1px ;
}

.btn-outline{
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 5px;

    border: 1px solid var(--black-border);
    color: var(--black);
    background-color: var(--white);
    transition: background-color .2s linear;;
}

.btn-outline:hover {
    background-color: var(--accent);
}

.btn-outline:active{
    position: relative;
    top: 1px ;
}

/* Projects */
.section {
    padding: 55px 0 120px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.project__item {
    max-width: 370px;

    border-radius: 10px;
    background-color: var(--project-card-bg);
    background-image: url("../img/noise-bg.png");
    
    box-shadow: var(--box-shadow);
}

.project__img {
    opacity: .9;
    transition: opacity .2s linear;
}

.project__img:hover {
    opacity: 1;
}

.project__img {
    border-radius: 10px 10px 0 0;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    color: var(--project-card-text);
}

/* Projects Details */
.project-details {
    margin: 0 auto;
    max-width: 870px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    border-radius: 10px;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
    opacity: .9;
    transition: opacity .2s linear;
}

.project-details__cover:hover {
    opacity: 1;
}

.project-details__desc {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 30px ;
    align-items: center;
    text-align: center;
    
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + P{
   margin-top: .5em;
}

.content-list__item a{
    color: var(--text-color);
}

/* Footer */
.footer {
    margin-top: auto;
    padding: 60px 0 40px;
    background-image: url("../img/noise-bg.png");
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.copyright {
    font-size: 16px;
}

.copyright p + p{
    margin-top: .5em;
}

/* media */
@media (max-width: 620px){

    /* General */
    .section { 
        padding: 55px 0 100px;
    }

    .title-1 { 
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .title-3 { 
        font-size: 40px;
    }
    
    /* NavBar */
    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* Header */
    .header{
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    .header__text {
        animation: none;
        white-space: normal;
        border-right: 0px;
        font-size: 20px;
    }

    .header__text p:nth-child(1){
        display: none;
    }

    .header__text p:nth-child(2){
        display: block;
    }

    /* Projects */
    .project__title {
        font-size: 19px;
    }

    .project__img {
        opacity: 1;
    }

    .project-details__cover{
        opacity: 1;
    }

    .project-details__desc { 
        margin-bottom: 20px;
        font-size: 20px;
    }

    /* Content */
    .content-list {
        row-gap: 20px;
    }

    .content-list__item { 
        font-size: 16px;
    }

    /* Footer */
    .footer {
        padding: 41px 0 31px;
    }

    .footer_gap {
        row-gap: 21px;
    }

    .social {
        column-gap: 21px;
    }

    .social__item{
        width: 29px;
    }
}

/* mobile */
@media (max-width: 480px) {
    .section--mobile {
        display: block;
    }

    #mobile-nav {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .nav-list__link:hover {
        opacity: 1;
    }

    .nav-list__link:hover,
    .nav-list__link.selected {
        color: var(--accent);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
    }

    .section, .section--mobile {
        padding: 55px 0 0;
    }

    .section--mobile .contacts {
        margin-bottom: 60px;
    }

}